MATRIX_HS=https://matrix.org
MATRIX_USER=@your_username:matrix.org
MATRIX_TOKEN=your_access_token_here
# must use equivalent internal room IDs (starting with !) instead of using these room aliases
# #graypaper:polkadot.io,#jam:polkadot.io,!KKOmuUpvYKPcniwOzw:matrix.org
# obtain from the Settings > Advanced of a room
# ensure space separated, not comma separated
MATRIX_ROOMS=!ddsEwXlCWnreEGuqXZ:polkadot.io !wBOJlzaOULZOALhaRh:polkadot.io !KKOmuUpvYKPcniwOzw:matrix.org
